<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-ruben-cards-styles.html">
<dom-module id="cells-ruben-cards">
  <script src="cells-ruben-cards.js"></script>
</dom-module>